body{
	background: #f2f2f2;
}

.principal{
	background-color: white;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
	box-shadow: 2px 2px 5px #999;

	
}
.cabecera{
	background: #00BFFF;
	color: #FFF;
	font-size: xx-large;
	font-family: helvetica;
	height: 100px;
	width: 100%;
	text-align: center;


}
.subtitulo{
	color: #00Bfff;
	font-family: helvetica;
	width: 100%;
	text-align: center;

}

.reseña{
	display: flex;
	justify-content: center;
	font-family: helvetica;
	color: #bdbdbd;

	flex-direction: row;
	width: 80%;
	margin: 20px auto;}

.titulo2{
	font-family: helvetica;
	color: #00BFFF;
	margin-right: 30px;



}



